<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section>
    <!-- <h1>{{data}}</h1> -->
        <div class="container">
          <div class="user signinBx">
            <div class="imgBx"><img src="https://wallpapercave.com/dwp1x/wp4316561.jpg" alt="" /></div>
            <div class="formBx">
              <form action="" onsubmit="return false;">
                <h2>Sign In</h2>
                <input  id="username" type="text" name="username" placeholder="username" />
                <input  id="pw" type="password" name="password" placeholder="Password" />
                <button type="button" (click)="login()">Login</button>
                <!-- routerLink="/home" -->
                <p class="signup">
                  Don't have an account ?
                  <a href="javascript:void(0);" (click)="toggleForm()">Sign Up.</a>
                </p>
              </form>
            </div>
          </div>
          <div class="user signupBx">
            <div class="formBx">
              <form action="" onsubmit="return false;">
                <h2>Create an account</h2>
                <input id="name" type="text" name="user" placeholder="Username" />
                <input id="email" type="email" name="" placeholder="Email Address" />
                <input id="pswd" type="passwd" name="" placeholder="Create Password" />
                <input type="password" name="password" placeholder="Confirm Password" />
                <button type="button" routerLink="/home">Sign Up</button>
                <p class="signup">
                  Already have an account ?
                  <a href="javascript:void(0);" (click)="toggleForm()" >Sign in.</a>
                </p>
              </form>
            </div>
            <div class="imgBx"><img src="https://wallpapercave.com/dwp1x/wp6602998.jpg" alt="" /></div>
          </div>
        </div>
      </section>
</body>
</html>


