<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
  <div class="container_">
    <div class="main">
      <div class="left">
        <h1>Stand out from <br> the crowd</h1>
        <p class="text-design">Take your financial life online. Your Easybank <br> account will be a one-stop-shop for
          spending,<br> saving,
          budgeting, investing, and much more.</p>
      </div>
      <div class="right">
        <img id="intro-img" class="img-fluid" src="https://i.ibb.co/vYFVbTB/image-mockups.png" alt="intro img">
      </div>
    </div>
    <div class="card-sec">
      <div class="content">
        <h1 class="heading-card">Why try Click Market?</h1>
        <p class="text-design" id="p-text">We leverage Open Banking to turn your bank account into your financial hub.
          Control your finances like never before.</p>
      </div>
      <div class="cards">
        <div class="card_">
          <img src="https://svgshare.com/i/JpQ.svg" class="card-img-top" alt="img">
          <div class="card-body">
            <h2 class="card-tleti title">View Profile</h2>
            <p class="card-text">
              By this, you gain a comprehensive overview of your account details, transactions, and
              financial activities, all conveniently accessible at your fingertips.
            </p>
          </div>
          <div class="card-btn">
            <button href="" class="card-link">Go ></button>
          </div>
        </div>
        <div class="card_">
          <img src="https://svgshare.com/i/JpQ.svg" class="card-img-top" alt="img">
          <div class="card-body">
            <h2 class="card-title title">Online Banking</h2>
            <p class="card-text">
              Our modern web and mobile applications allow you to keep
              track of your finances wherever you are in the world.
            </p>
          </div>
          <div class="card-btn">
            <button href="" class="card-link">Go ></button>
          </div>
        </div>
        <div class="card_">
          <img src="https://svgshare.com/i/JpQ.svg" class="card-img-top" alt="img">
          <div class="card-body">
            <h2 class="card-title title">Balance Enquiry</h2>
            <p class="card-text">
              Instantly check account balance online. Secure, convenient, and empowering.
              Effortlessly manage your finances anytime, anywhere.
            </p>
          </div>
          <div class="card-btn">
            <button   class="card-link"(click)="openModal()" type="button">Go ></button>
          </div>
        </div>
        <div class="card_">
          <img src="https://svgshare.com/i/JpQ.svg" class="card-img-top" alt="img">
          <div class="card-body">
            <h2 class="card-title title">Account Statement</h2>
            <p class="card-text">
              Our modern web and mobile applications allow you to keep
              track of your finances wherever you are in the world.
            </p>
          </div>
          <div class="card-btn">
            <button href="" class="card-link">Go ></button>
          </div>
        </div>
        <div class="card_">
          <img src="https://svgshare.com/i/JpQ.svg" class="card-img-top" alt="img">
          <div class="card-body">
            <h2 class="card-title title">Settings</h2>
            <p class="card-text">
              Welcome to our settings,
              your gateway to customize and personalize your experience with us.
            </p>
          </div>
          <div class="card-btn">
            <button href="" class="card-link">Go ></button>
          </div>
        </div>
        <div class="card_">
          <img src="https://svgshare.com/i/JpQ.svg" class="card-img-top" alt="img">
          <div class="card-body">
            <h2 class="card-title title">Log Out</h2>
            <p class="card-text">
              Ready to leave? Log out securely and thank you for banking with us today.
            </p>
          </div>
          <div class="card-btn">
            <button href="" type="button" class="card-link">Go ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->

  <!-- Modal -->
  <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal Title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Modal content goes here.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>



  <!--  -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>





  
 
